<div class="row col-xl-12"> 
        
        
    <div class="row">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Categories</div>
            <div class="card-body text-info">
                <h5 *ngFor="let category of categoriesArray" class="card-title">
                    <input type="checkbox" [checked]="categories.get(category)" (change)="changeCategory(category, $event)" >
                    {{category}}
                </h5>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Filters</div>
            <div class="card-body text-info">
                <div class="row">
                    <h5 class="card-title"> Min Stars Count </h5>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{minStar}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button *ngFor="let star of [1, 2, 3, 4, 5]" class="dropdown-item" (click)="filterByMinStarsCount(star)">{{star}}</button>
                        </div>
                    </div>
                </div>
                <h5 class="card-title">Count</h5>
                <div class="row">
                    <input type="range" multiple value="0,80" />
                </div>
                <h5 class="card-title">Price</h5>
                <div class="row">
                    <input type="range" multiple value="10,80" />
                </div>
                <div class="row">
                    <h5 class="card-title"> Pagination </h5>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{pagination}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button *ngFor="let page of paginationTypes" class="dropdown-item" (click)="setPagination(star)">{{page}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
