.navbar {
	background-color: #e3f2fd;
}

.jumbotron {
	background-image: url('Content/background.jpg'); 
	background-size: cover;
	background-position: center; 
	background-attachment: fixed;
	min-height: 100vh; 
}
section { 
	padding-top: 4rem;
}
section .shadow {
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
section .whiteText {
	color: white
}
