<mat-sidenav-container class="example-container">
    <mat-sidenav class="col-3" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                 (closed)="events.push('close!')">
                 <div class="col-xl-3"> <app-menu></app-menu> </div>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <div class="col-xl-9"> <router-outlet></router-outlet> </div>
    </mat-sidenav-content>
</mat-sidenav-container>
