<div class="row col-12">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Menu</div>
            <div class="card-body text-info">
                <button type="button" class="btn btn-primary" (click)="openProducts()">Products ☠️</button>
                <button type="button" class="btn btn-primary" (click)="openCategories()">Categories ☠️</button>
                <button type="button" class="btn btn-primary" (click)="openOrders()">Orders ☠️</button>
            </div>
        </div>
    </div>
    