<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
      Gadget Shop
      <button type="button" class="btn btn-primary" (click)="openMainShop()">Main Screen ☠️</button>
    </a>

    <div class="card col-3 text-white bg-info" style="padding: 5px;">
      <div class="row">
        <div class="col-5">
            <img src="/assets/images/basket.png" width="50" height="50" class="d-inline-block align-right" alt="">
            <button type="button" class="btn btn-primary" (click)="openBasketDetail()">Buy! 🎁</button>
        </div>
        <div class="col">
          <p class="card-text">Products: <span class="badge badge-warning">{{productsCount}}</span> </p> 
          <p class="card-text">Price: <span class="badge badge-warning">{{priceSum}}</span> </p>
        </div>
      </div>
    </div>
    
    
</nav>
